<launch>

    <include file="$(find subot_rtab_unity)/launch/start_navsat.launch"/>

    <!-- Run the ekf for map to odom config -->
    <node pkg="robot_localization" type="ekf_localization_node" name="robot_localization">
        <rosparam command="load" file="$(find subot_rtab_unity)/config/robot_localization_config.yaml" />
    </node>
    
    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find subot_navigation)/config/model_display.rviz" /> -->
</launch>