<launch>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">

    <param name="magnetic_declination_radians" value="1.5708"/>
    <param name="yaw_offset" value="0"/>
    <param name="zero_altitude" value="true"/>

    <param name="broadcast_cartesian_transform" value="false"/>
    <param name="publish_filtered_gps" value="false"/>

    <!-- false: -->
    <param name="use_odometry_yaw" value="false"/> 

    <param name="wait_for_datum" value="false"/>
    <rosparam param="datum">[0.0, 0.0 , 0.0]</rosparam>

    <remap from="/imu/data" to="/imu/data" />
    <remap from="/gps/fix" to="/gps/fix" />

    <!-- Conferir se esta correto: -->
    <!-- <remap from="/odometry/filtered" to="/scout2_velocity_controller/odom" /> -->

  </node>

</launch>